@keyframes moonanimation
{
    0%   {opacity:1;top:-400px}
    100%  {opacity:1;top:50px;}
}
@-moz-keyframes moonanimation
{
    0%   {opacity:1;top:-400px}
    100%  {opacity:1;top:50px;}
}
@-o-keyframes moonanimation
{
    0%   {opacity:1;top:-400px}
    100%  {opacity:1;top:50px;}
}
@-webkit-keyframes moonanimation
{
    0%   {opacity:1;top:-400px}
    100%  {opacity:1;top:50px;}
}


html {
    font-family: 'Droid Serif', 'Myriad Pro', 'Georgia', sans-serif;
    font-size: 1.4em;
    color: white;
    height: 100%;
}

h1,h2,h3 {
    padding: 0;
    margin: 0;

}

body {
    position: relative;
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(0,29,119);
    background: -webkit-linear-gradient(-90deg, rgba(0,29,119,1) 0%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(-90deg, rgba(0,29,119,1) 0%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%);
    background: -moz-linear-gradient(-90deg, rgba(0,29,119,1) 0%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(-90deg, rgba(0,29,119,1) 0%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 100%);    
}

section {
    position: relative;
    margin: 0 10px;
    height: 100%;
    z-index: 100;    
}

article {
    display: table-cell;
    vertical-align: middle;
    ul  {
	font-weight: normal;
	text-shadow: black 1px 1px 2px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        img {
            width: 50px;
            height: 50px;
            vertical-align: middle;
            margin: 5px;
        }
        a {
	    color: #CCC;
	    text-decoration: none;
        }
    }
    li {
        margin-top: 30px;
    }    
}

#moon {
    display: none;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1;
}

#fractal {
    opacity: 0.07;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 0;
}

#tree {
    display: none;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0px;
    z-index: 2;
}

@media (min-width: 641px) {
    #moon {
	display: block;
    }
    #tree {
	display: block;
    }
    section {
	margin: 0 80px 0 80px;
	display: table;
    }
    article {
	ul {
	    img {
		width: 70px;
		height: 70px;
	    }
	}
	li {
            -moz-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }
        li:hover {
            -moz-transform: translate(10px, 0);
            -ms-transform: translate(10px, 0);
            -o-transform: translate(10px, 0);
            -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0)
        }
    }
    
}

@media (min-width: 2500px) {
    html {
	font-size: 1.9em;	
    }
}

footer {
    position: absolute;
    z-index: 100;
    right: 16px;
    bottom: 0px;
    p {
	     display: inline-block;
	     line-height: 40px;
	     font-size: 20px;
    }
}
